#!/bin/bash

#run updates
UPDATES=true

#start firewall
FIREWALL=true

#install open-ssh
SSH=true

#upgrade packages
UPGRADE=true

#delete ftp
FTP=true

#bad programs
BADP=true

#enable password aging
PSAGE=true

#enable password lockout (after 5 incorrect attempts)
PSLOCKOUT=true

#disable root login via ssh
DISABLE_ROOT_SSH=true

#disable the guest account
DISABLE_GUEST=true

#find media files and output to log
MEDIA_LOCATIONS=true

#log all root cronjobs
LOG_CRON=true

#Log all running processes
PS_LOG=true

#run netstat command and log the output
LOG_NETSTAT=true

#install clam antivirus
INSTALL_CLAM=true

#run a full scan with clamav
CLAM_HOME=true

#forensics log
FORENSICS_LOG= true